In [25]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [26]:
# Read CSV files
train_data = pd.read_csv(r"D:\Guvi\Projects\Final Projects\Project 3\Datasets\p1_train.csv")
test_data = pd.read_csv(r"D:\Guvi\Projects\Final Projects\Project 3\Datasets\p1_test.csv")

In [27]:
train_data.head()

,-7.262173392018990370e+00,9.572603824406265005e+00,5.358725498169498280e+00
0,3.462140,10.684524,-13.275822
1,-12.996801,-3.446163,31.815190
2,7.083537,-14.074146,1.995030
3,-15.216890,-18.630651,48.812452
4,6.841930,-8.080967,-0.481346

In [28]:
test_data.head()

,1.589300268390259419e+01,1.171282902260990966e+01,-3.756792885773750612e+01
0,-2.722421,-4.540615,11.475211
1,-14.587111,18.592864,11.468441
2,0.224331,16.433306,-15.159309
3,-12.215286,11.742682,17.392223
4,17.213737,-13.958878,-18.291343

In [29]:
# Rename Columns
train_data.columns = ['Sensor_1', 'Sensor_2', 'Health']
test_data.columns = ['Sensor_1', 'Sensor_2', 'Health']

In [30]:
train_data.head()

    Sensor_1   Sensor_2     Health
0   3.462140  10.684524 -13.275822
1 -12.996801  -3.446163  31.815190
2   7.083537 -14.074146   1.995030
3 -15.216890 -18.630651  48.812452
4   6.841930  -8.080967  -0.481346

In [31]:
test_data.head()

    Sensor_1   Sensor_2     Health
0  -2.722421  -4.540615  11.475211
1 -14.587111  18.592864  11.468441
2   0.224331  16.433306 -15.159309
3 -12.215286  11.742682  17.392223
4  17.213737 -13.958878 -18.291343

In [32]:
# Split Features and Target
X_train, y_train = train_data[['Sensor_1', 'Sensor_2']], train_data['Health']
X_test, y_test = test_data[['Sensor_1', 'Sensor_2']], test_data['Health']

In [33]:
# Evaluate Models
models = [LinearRegression(), SVR()]
for model in models:
    model.fit(X_train,y_train)
    train_pred = model.predict(X_train)
    test_pred = model.predict(X_test)

    print(f"*********{type(model).__name__}*********")

    print(f"Train MAE: {mean_absolute_error(y_train, train_pred)}")
    print(f"Train MSE: {mean_squared_error(y_train, train_pred)}")

    print(f"Test MAE: {mean_absolute_error(y_test, test_pred)}")
    print(f"Test MSE: {mean_squared_error(y_test, test_pred)}\n")

*********LinearRegression*********
Train MAE: 1.7916700453530021
Train MSE: 5.059516966583047
Test MAE: 1.7988557623211774
Test MSE: 5.045760259110827

*********SVR*********
Train MAE: 1.8506198546531938
Train MSE: 5.455966220308481
Test MAE: 1.8567562894704273
Test MSE: 5.41848217630018